*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: 'Source Sans Pro', sans-serif;
}

#topBar{
    background-color: #C31733 ;
    color:#fdfdfd;
    padding-top:13px;
    text-align: center;
}

#topBar a{
    text-decoration: none;
    color:#fdfdfd;
    background-color: #A40014;
    padding:8px 12px;
    transition: all 0.4s;
    cursor:pointer;
}

#topBar a:hover{
    opacity: 0.9;
}

#menu{
    margin:30px 40px; 
    
}

#menu #kayit{
    text-decoration: none;
    background-color: #C21632;
    color:#fdfdfd;
    padding:6px ;
   
}

#menu .socialBtn{  
    border-radius: 50%;
    color:#333333;
    padding:9px;
    margin-left:3px; 
}

#menu .socialBtn:hover{
    transition: all 1.2s; 
}

#menu .face:hover {
    color:#fdfdfd;
    background-color: #3b5998;
}

#menu .twit:hover {
   
    color:#fdfdfd;
    background-color: #1DA1F2;
}

#menu .inst:hover {
    color:#fdfdfd;
    background-color: #C32AA3;
}

#menu .yout:hover {
    color:#fdfdfd;
    background-color: #FF0000;
}

#menu .link:hover {
    color:#fdfdfd;
    background-color: #0A66C2;
}

nav a{
    color:black !important;
}

.carousel-control-prev-icon, .carousel-control-next-icon{
    background-color:black ;
    width:25px;
    padding:5px;
}

#lokasyonlar{
    background-color: #F9F9F9;
}

#ogrenciYorum{
    background-image: url("img/ogrenci-yorumlari-arkaplan.png");
    background-size: auto;
    color:#B0B0B0;
}

footer{
    background-color: #060606;
    
}

footer a{
    color:#BEBEBE;
    text-decoration: none;
    font-size: 12px;
    opacity: 0.8;
    transition: all 0.9s;
}

footer a:hover{
    color:#BEBEBE;
    opacity: 1;
}

footer p{
    color:#BEBEBE;
    font-size: 12px;
    
}

#breadcrumb {
    background-color: #F2F2F2;
}

#breadcrumb a{
    font-size:12px;
}

#bizKimiz p {
    font-size:15px;
}

#degerlerimiz p ,#politikalarimiz p,#politikalarimiz li, #degerlerimiz li {
    font-size:15px;
}



#politikalarimiz .container li{
    list-style:disc;
}

.alert strong , .alert a, .alert p{
    font-size:15px;
}

#uniyurtAfyon p{
    font-size:18px;
}

#kovidTedbir{
    background-color: #F9F9F9;
}

#kovidTedbir .col-sm-5{
    font-size: 21px;
}

#kovidTedbir button{
    background-color: #C31733;
}


#mutlulukNedenleri h3, #oda h3{
    padding-bottom: 15px;
    border-bottom: 3px solid black;
}

#oda ul{
    background-color:#F8F8F8; 
    padding: 10px;
}

#oda li{
    padding: 10px;
    list-style-type: none;  
    display: inline-block;
}

#oda li:hover{
    background-color: #EBEBEB;
    
}

#oda a{   
    color:black;
    text-decoration: none;
}

#contact li{
    font-size:13px;
}

#contact  input[type="submit"]{
    background-color: #C21632;
    color:#fff;
    transition: all 0.5s;
}

#contact  input[type="submit"]:hover{
    opacity: 0.9;
}



.location{
    padding:15px 40px;
    width: 100%;
    background-color: #C31733;
    transition: all 0,8s;
}

 .location a{
   text-decoration: none;
    color:#fff ;
   
   
}

 .location:hover{
    text-decoration: none;
     color:#fff ;
     opacity: 0.9;
     cursor: pointer;
 }

.card{
     margin-top: 40px;
     padding: 15px 20px;
     width: 100%;
 }

 a.phone{
     display: inline-block;
     text-align: center;
     color:black;
 }

input[type="submit"]{
     color:#fff;
     background-color: #C21632;
     width: 100%;
     border-radius: 0;
     margin-top: 10px;
 }

 .accordion-item {
   padding-bottom: 15px;
   
}
.accordion-item button{
     background-color: #F4F4F4 !important;
     color:#C21632 !important;
     outline: none !important;
     border-left:3px solid #C21632 ;
 }

.accordion-item button:focus{
    background-color:#C21632 !important ;
    color:#fff !important;
}

 .accordion-button:focus {
    z-index: 3;
    border-color: #C21632 !important; 
    outline: 0;
    box-shadow: none !important; 
    
}


.form-control:focus , .form-select:focus{
    outline: 0;
    box-shadow: none !important; 
}

textarea{
    resize: none !important;
}

#mesafe h4{
    padding:20px;
    border-bottom:2px solid black;
}

#mesafe li{
    list-style-type: none;
}

#mesafe span{
    
    padding-left: 20px;
}

#sorular{
    background-color: #F9F9F9;
    padding:30px 30px;
}

#sorular .btn{
    background-color:#C31733;
    color:#fff;
    border-radius: none ;
   
}

#iletisim li{
    list-style-type: none;
    font-size: 14px;
}

#iletisim span{
    padding-left:10px;
}

#iletisim a{
    width:50px;
    height: 50px;
    border:none;
    color:#fff;
    transition: all 0.8s;
}

#iletisim a:hover{
    opacity: 0.9;
}


#iletisim .f{
    background-color: #3B5A9A;
    font-size:11px;
    padding: 8px 10px;
}

#iletisim .t{
    background-color: #1AA9E1;
    font-size:11px;
    padding: 8px ;
}

#iletisim .i{
    background-color: #7C4A3A;
    font-size:11px;
    padding: 8px ;
}

#iletisim .l{
    background-color: #0073B2;
    font-size:11px;
    padding: 9px ;
}

#iletisim input[type="submit"]{
    border:none;
    padding: 5px;
    width:30%;
}





