*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: 'Source Sans Pro', sans-serif;
}

#topBar{
    background-color: #C31733 ;
    color:#fdfdfd;
    padding-top:13px;
    text-align: center;
}

#topBar a{
    text-decoration: none;
    color:#fdfdfd;
    background-color: #A40014;
    padding:8px 12px;
    transition: all 0.4s;
    cursor:pointer;
}

#topBar a:hover{
    opacity: 0.9;
}

#menu{
    margin:30px 40px; 
    
}

#menu #kayit{
    text-decoration: none;
    background-color: #C21632;
    color:#fdfdfd;
    padding:6px ;
   
}

#menu .socialBtn{  
    border-radius: 50%;
    color:#333333;
    padding:9px;
    margin-left:3px; 
}

#menu .socialBtn:hover{
    transition: all 1.2s; 
}

#menu .face:hover {
    color:#fdfdfd;
    background-color: #3b5998;
}

#menu .twit:hover {
   
    color:#fdfdfd;
    background-color: #1DA1F2;
}

#menu .inst:hover {
    color:#fdfdfd;
    background-color: #C32AA3;
}

#menu .yout:hover {
    color:#fdfdfd;
    background-color: #FF0000;
}

#menu .link:hover {
    color:#fdfdfd;
    background-color: #0A66C2;
}

nav a{
    color:black !important;
}

.carousel-control-prev-icon, .carousel-control-next-icon{
    background-color:black ;
    width:25px;
    padding:5px;
}

#lokasyonlar{
    background-color: #F9F9F9;
}

#ogrenciYorum{
    background-image: url("img/ogrenci-yorumlari-arkaplan.png");
    background-size: auto;
    color:#B0B0B0;
}

footer{
    background-color: #060606;
    
}

footer a{
    color:#BEBEBE;
    text-decoration: none;
    font-size: 12px;
    opacity: 0.8;
    transition: all 0.9s;
}

footer a:hover{
    color:#BEBEBE;
    opacity: 1;
}

footer p{
    color:#BEBEBE;
    font-size: 12px;
    
}

#breadcrumb {
    background-color: #F2F2F2;
}

#breadcrumb a{
    font-size:12px;
}

#bizKimiz p {
    font-size:15px;
}

#degerlerimiz p ,#politikalarimiz p,#politikalarimiz li, #degerlerimiz li {
    font-size:15px;
}



#politikalarimiz .container li{
    list-style:disc;
}

.alert strong , .alert a, .alert p{
    font-size:15px;
}

#uniyurtAfyon p{
    font-size:18px;
}

#kovidTedbir{
    background-color: #F9F9F9;
}

#kovidTedbir .col-sm-5{
    font-size: 21px;
}

#kovidTedbir button{
    background-color: #C31733;
}


#mutlulukNedenleri h3, #oda h3{
    padding-bottom: 15px;
    border-bottom: 3px solid black;
}

#oda ul{
    background-color:#F8F8F8; 
    padding: 10px;
}

#oda li{
    padding: 10px;
    list-style-type: none;  
    display: inline-block;
}

#oda li:hover{
    background-color: #EBEBEB;
    
}

#oda a{   
    color:black;
    text-decoration: none;
}

#contact  input[type="submit"]{
    background-color: #C21632;
    color:#fff;
    transition: all 0.5s;
}

#contact  input[type="submit"]:hover{
    opacity: 0.9;
}

#afyonsss .accordion{
    width: 650px;
}

