*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: 'Source Sans Pro', sans-serif;
    overflow-x:hidden;
}

#topBar{
    background-color: #C31733 ;
    color:#fdfdfd;
    padding-top:13px;
    text-align: center; 
}

#topBar a{
    text-decoration: none;
    color:#fdfdfd;
    background-color: #A40014;
    padding:8px 12px;
    transition: 0.5s;
    cursor:pointer;
}

#topBar a:hover{
    opacity: 0.9;
}

#menu{
    margin:30px 40px;    
}

#menu #kayit{
    text-decoration: none;
    background-color: #C21632;
    color:#fdfdfd;
    padding:6px ; 
}

/* sosyal medya ikonları */

#menu .socialBtn{  
    border-radius: 10px;
    color:#333333;
    padding:9px;
    margin-left:5px; 
    transition: all 0.6s; 
}

#menu .face:hover {
    color:#fdfdfd;
    background-color: #3b5998;
}

#menu .twit:hover { 
    color:#fdfdfd;
    background-color: #1DA1F2;
}


#menu .inst:hover {
    color:#fdfdfd;
    background-color: #C32AA3;
}

#menu .yout:hover {
    color:#fdfdfd;
    background-color: #FF0000;
}

#menu .link:hover {
    color:#fdfdfd;
    background-color: #0A66C2;
}


#menu nav a{
    color:#060606 !important;
    transition: 0.5s;
    
}

#menu nav a:hover{
    color:#fff !important;
}

#menu nav li{
    transition: 0.5s;
}

#menu nav li:hover{
    background-color: #C31733;
}

#menu nav li:active{
    background-color: #C31733 !important;
}


.dropdown-menu li:hover a{
    background-color: #C31733 !important;
    color:#fff !important;
}


/* slayt için css code */

.carousel-control-prev-icon, .carousel-control-next-icon{
    background-color:black ;
    width:25px;
    padding:5px;
}

/* alert için css code */

.alert{
    height: 70px;
}

.alert button{
    margin-top:5px;
}

@media (max-width:480px) {
    .alert{
        height: 100px;
    }
    .alert a{
        display: inline-block;
    }

    .alert button{
        margin-top:22px;
    }
}

/* kovidTedbir ve sorular  için css code */

#kovidTedbir , #sorular{
    background-color: #F9F9F9;
}

#kovidTedbir .col-8{
    font-size: 18px;
}

#kovidTedbir button ,  #sorular button{
    background-color: #C31733;
    transition: 0.5s;
    margin-top:20px;
}

#kovidTedbir button:hover , #sorular button:hover{
   opacity: 0.9;
}


@media (max-width:480px){
    #kovidTedbir button , #sorular button{
        margin-top:35px;
    }

    #kovidTedbir .col-8 , #sorular .col-8{
        font-size: 16px;
    }
}

/* mutluluk slayt için css code */

#mutlulukNedenleri h3, #oda h3 ,#digerMutluluk h3{
    padding-bottom: 25px;
    border-bottom: 3px solid black;
    margin-bottom: 45px;
}

#mutlulukNedenleri img , #digerMutluluk img{
    width:100px;
    position: relative;
    left:20px;
}

#mutlulukNedenleri p , #digerMutluluk p{
    padding-top: 15px;
    text-align: center;
}

/* oda için css code */

#oda ul{
    padding: 10px;
}

#oda li{
    padding: 10px;
    list-style-type: none;  
    display: block;
    transition: 0.5;
}

#oda a{   
    color:black;
    text-decoration: none;
}


#oda .card{
    background-color: #EBEBEB ;
}

#oda .btn{
    width: 260px;
    background-color: #cfcece;
    color:#272424;
    border-radius: 0;
    transition:0.5s;   
}

#oda .btn:hover{
      opacity: 0.9;
}

@media (max-width:480px) {
    #oda .btn{
        width: 100%;
        margin-bottom: 10px;
    }

    #oda .img{
        position: relative;
        left:-85px;
    }
}

/* ogrenciYorum css code */

#ogrenciYorum{
    background-image: url("img/ogrenci-yorumlari-arkaplan.png");
    background-size: auto;
    color:#B0B0B0;
}

@media (max-width:480px) {
    #ogrenciYorum img{
       position: relative;
       left:120px;
       bottom:25px;
    }
}


/* mesafe için css code */

#mesafe h3{
    padding:20px;
    border-bottom:2px solid black;
}

#mesafe li{
    list-style-type: none;
}

#mesafe span{    
    padding-left: 20px;
}

@media (max-width:480px){

    #mesafe .img{
        margin-left:80px;
    }
}


/* iletisim css code */

#iletisim li{
    list-style-type: none;
    font-size: 14px;
}

#iletisim span{
    padding-left:10px;
}

#iletisim a{
    width:50px;
    height: 50px;
    border:none;
    color:#fff;
    transition:0.5s;
}

#iletisim a:hover{
    opacity: 0.9;
}

#iletisim .f{
    background-color: #3B5A9A;
    font-size:11px;
    padding: 8px 10px;
}

#iletisim .t{
    background-color: #1AA9E1;
    font-size:11px;
    padding: 8px ;
}

#iletisim .i{
    background-color: #7C4A3A;
    font-size:11px;
    padding: 8px ;
}

#iletisim .l{
    background-color: #0073B2;
    font-size:11px;
    padding: 9px ;
}

#iletisim input[type="submit"]{
    border:none;
    padding: 5px;
    width:30%;
}


/* lokasyonlar css code */

#lokasyonlar{
    background-color: #F9F9F9;
    padding:30px 0;  
}

#lokasyonlar img{
    width:180px;
    height: 180px;
    margin-left: 40px;
}

#lokasyonlar h5{
    text-align: center;
    padding-top: 20px;
 }


@media (max-width:480px) {

    #lokasyonlar img{
        width: 200px;
        height: 200px;
        margin-left:110px;
        margin-top: 15px;
    }  
}



/* breadcrumb css code */
#breadcrumb {
    background-color: #F2F2F2 
}

#breadcrumb a{
    font-size:13px;
    color:black;
}

#bizKimiz p {
    font-size:15px;
}

#degerlerimiz p ,#politikalarimiz p,#politikalarimiz li, #degerlerimiz li {
    font-size:15px;
}



#politikalarimiz .container li{
    list-style:disc;
}

.alert strong , .alert a, .alert p{
    font-size:15px;
}

#uniyurtAfyon p{
    font-size:18px;
}


/* button genel css code */

.btn:focus {
    z-index: 3;
    border-color: none !important; 
    outline: 0;
    box-shadow: none !important; 
    
}

/* contact css code */

#contact li{
    font-size:13px;
}

#contact  input[type="submit"]{
    background-color: #C21632;
    color:#fff;
    transition:0.5s;
}

#contact  input[type="submit"]:hover{
    opacity: 0.9;
}

@media (max-width:480px) {

    #contact .formContact{
        padding-top: 20px;
    }

    .formContact .email, .lokasyon{
        margin-top: 20px;
    }
}

/* yurt tv css code */
@media (max-width:480px) {

   #yurtTv .row{
       padding-left:30px;
   }
}

/* etkinlik css code */
@media (max-width:480px) {

    #etkinlik .row{
        padding-left:30px;
    }
 }


/* sss lokasyon bolumu css code */
.location{
    padding:15px 40px;
    width: 100%;
    background-color: #C31733;
    transition:0.5s;
}

.location span{
    position: relative;

}

 .location a{
   text-decoration: none;
    color:#fff ; 
}

 .location:hover{
    text-decoration: none;
     color:#fff ;
     opacity: 0.9;
     cursor: pointer;
 }

 @media (max-width:480px){

    .location {
        margin-top: 20px;
    }
 }

.card{
     margin-top: 10px;
     padding: 15px 20px;
     width: 100%;
 }

 a.phone{
     display: inline-block;
     text-align: center;
     color:black;
 }

input[type="submit"]{
     color:#fff;
     background-color: #C21632;
     width: 100%;
     border-radius: 0;
     margin-top: 10px;
     transition: all 0.5s;    
 }

 input[type="submit"]:hover{
    color:#fff;
    opacity: 0.9;
}


/* sss bolumu acordion css code */

 .accordion-item {
   padding-bottom: 15px;
   
}
.accordion-item button{
     background-color: #F4F4F4 !important;
     color:#C21632 !important;
     outline: none !important;
     border-left:3px solid #C21632 ;
 }

.accordion-item button:focus{
    background-color:#C21632 !important ;
    color:#fff !important;
}

 .accordion-button:focus {
    z-index: 3;
    border-color: #C21632 !important; 
    outline: 0;
    box-shadow: none !important;   
}

/* genel form elemanları için css code */

.form-control:focus , .form-select:focus{
    border:1px solid #C21632 !important;
    outline: 0;
    box-shadow: none !important; 
}

textarea{
    resize: none !important;
}



/* yurt image icin css code*/

@media (max-width:480px){
    .yurtImg .row{
        position: relative;
        left:20px;
    }
    .yurtImg img{
        width: 90%;
    }
}


/* footer için css code */

footer{
    background-color: #060606;
    
}

footer a{
    color:#BEBEBE;
    text-decoration: none;
    font-size: 12px;
    opacity: 0.8;
    transition:0.5s;
}

footer a:hover{
    color:#BEBEBE;
    opacity: 1;
}

footer p{
    color:#BEBEBE;
    font-size: 12px; 
}



/* backtotop için css */

#backtoTop i{
    position: fixed;
    bottom:10px;
    right:10px;
    background-color: #000;
    padding:14px;
    color:#fff;
    cursor:pointer;
    transition: all 1s;  
    opacity: 0;
}

@media only screen and (max-width:480px){

    footer img{
        margin-left:165px;
        margin-bottom:10px;
    }

    footer .col-sm-6 a{
        margin:7px;
    }

    footer p{
        margin-top:5px;       
    }
}







